ccdn_user_admin_cpanel:
    pattern: /{_locale}/dashboard/admin
    defaults: { _controller: CCDNComponentDashboardBundle:Dashboard:show, _locale: en }

#
# Show unactivated.
#
ccdn_user_admin_show_unactivated:
    pattern: /{_locale}/admin/user/show/unactivated
    defaults: { _controller: CCDNUserAdminBundle:Activation:showUnactivatedUsers, _locale: en, page: 1 }

ccdn_user_admin_show_unactivated_paginated:
    pattern: /{_locale}/admin/user/show/unactivated/page/{page}
    defaults: { _controller: CCDNUserAdminBundle:Activation:showUnactivatedUsers, _locale: en, page: 1 }

#
# Show banned.
#
ccdn_user_admin_show_banned:
    pattern: /{_locale}/admin/user/show/banned
    defaults: { _controller: CCDNUserAdminBundle:Ban:showBannedUsers, _locale: en, page: 1 }

ccdn_user_admin_show_banned_paginated:
    pattern: /{_locale}/admin/user/show/banned/page/{page}
    defaults: { _controller: CCDNUserAdminBundle:Ban:showBannedUsers, _locale: en, page: 1 }

#
# Show newest.
#
ccdn_user_admin_show_newest:
    pattern: /{_locale}/admin/user/show/newest
    defaults: { _controller: CCDNUserAdminBundle:User:showNewestUsers, _locale: en, page: 1 }

ccdn_user_admin_show_newest_paginated:
    pattern: /{_locale}/admin/user/show/newest/page/{page}
    defaults: { _controller: CCDNUserAdminBundle:User:showNewestUsers, _locale: en, page: 1 }

#
# User Management.
#
ccdn_user_admin_account_show:
    pattern: /{_locale}/admin/user/{userId}/show
    defaults: { _controller: CCDNUserAdminBundle:User:show, _locale: en }

ccdn_user_admin_account_edit:
    pattern: /{_locale}/admin/user/{userId}/account/edit
    defaults: { _controller: CCDNUserAdminBundle:User:editAccount, _locale: en }

ccdn_user_admin_profile_edit:
    pattern: /{_locale}/admin/user/{userId}/profile/edit
    defaults: { _controller: CCDNUserAdminBundle:User:editProfile, _locale: en }

#
# User Activation.
#
ccdn_user_admin_activate:
    pattern: /{_locale}/admin/user/{userId}/activate
    defaults: { _controller: CCDNUserAdminBundle:Activation:activate, _locale: en }

ccdn_user_admin_force_reactivation:
    pattern: /{_locale}/admin/user/{userId}/force/reactivation
    defaults: { _controller: CCDNUserAdminBundle:Activation:forceReActivation, _locale: en }

#
# User Banning.
#
ccdn_user_admin_ban:
    pattern: /{_locale}/admin/user/{userId}/ban
    defaults: { _controller: CCDNUserAdminBundle:Ban:banUser, _locale: en }

ccdn_user_admin_unban:
    pattern: /{_locale}/admin/user/{userId}/unban
    defaults: { _controller: CCDNUserAdminBundle:Ban:unbanUser, _locale: en }

#
# User Roles.
#
ccdn_user_admin_set_roles:
    pattern: /{_locale}/admin/user/{userId}/set/roles
    defaults: { _controller: CCDNUserAdminBundle:Role:setUserRoles, _locale: en }
